# Environment variables
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Node / Frontend
node_modules/
dist/
.vite/

# Database
*.sql.bak

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
dashboard-backend/__pycache__/config.cpython-313.pyc
dashboard-backend/__pycache__/config.cpython-313.pyc
dashboard-backend/__pycache__/db.cpython-313.pyc
dashboard-backend/auth/__pycache__/middleware.cpython-313.pyc
dashboard-backend/auth/__pycache__/routes.cpython-313.pyc
dashboard-backend/gitrepo/__pycache__/routes.cpython-313.pyc
dashboard-backend/users/__pycache__/routes.cpython-313.pyc
*.pyc
*.pyc
